<div class="container">
  <h1> Welcome to {{title}}</h1>
  <div class="row">
    <div class="col-3" *ngFor="let toy of toysData">
    <div class="card" style="width:150px">
      <img class="card-img-top" [src]="toy.img" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">{{toy.title}}</h4>
        <p class="card-text">{{toy.Brand}}</p>
        <p class="card-text" *ngIf="toy.isVisible"> This toy has {{toy.Discount}} on the total price</p>
        <button href="#" class="btn btn-primary" (click)="toggleDiscount(toy.title)">{{toy.isVisible? "Hide":"Show"}} Discount</button>
        </div>
      </div>
    </div>
  </div>
</div>
